<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<p><%= f.label 'Nombre del usuario' %><br />
<%= f.text_field :name %></p>

  <div><%= f.label 'Correo Uniandes' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label 'Password' %> <i>(dejar en blanco si no se quiere cambiar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label 'Confirmación del password' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label 'Password Actual' %> <i>(se necesita su actual password para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar la cuenta</h3>

<p>¿Insatisfecho? <%= link_to "Cancelar la cuenta", registration_path(resource_name), :data => { :confirm => "¿Está seguro?" }, :method => :delete %>.</p>

<%= link_to "Atrás", :back %>
