<%= form_for(@maestrium) do |f| %>
  <% if @maestrium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maestrium.errors.count, "error") %> errores impidieron que la informaci&oacute;n de la maestria fuera almacenada con &eacute;xito:</h2>

      <ul>
      <% @maestrium.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <label for="maestrium_user_id">Coordinador</label>
    <%= f.select(:user_id, User.all.collect{|t|["#{t.name} - #{t.email}",t.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear/editar maestria',:class => 'btn btn-primary',:class => 'btn btn-primary' %>
  </div>
<% end %>
