<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @maestrium.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @maestrium.nombre %>
</p>

<p>
  <b>Coordinador:</b>
  <% if @maestrium.user != nil then %>
  <%= @maestrium.user.name %>
  <% end %>
</p>

<p>
  <b>E-mail del coordinador</b>
  <%if @maestrium.user != nil then %>
  <%= @maestrium.user.email %>
  <% end %>
</p>

<%= link_to 'Editar', edit_maestrium_path(@maestrium) %> |
<%= link_to 'Volver', maestria_path %>