<h1>Listado de horarios</h1>

<table width="100%">
  <tr>
    <th>Seccion</th>
    <th>Dia</th>
    <th>Hora inicio</th>
    <th>Hora fin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.seccion %></td>
    <td><%= horario.dia %></td>
    <td><%= horario.hora_inicio %></td>
    <td><%= horario.hora_fin %></td>
    <td><%= link_to 'Mostrar', horario %></td>
    <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
    <td><%= link_to 'Eliminar', horario, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Horario', new_horario_path %>
