<h1>Listado de horarios</h1>

<table width="80%">
  <trstyle="font-weight:bold">
    <td>Seccion</td>
    <td>Dia</td>
    <td>Hora inicio</td>
    <td>Hora fin</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @horarios.each do |horario| %>
  <tr>
    <td><%= horario.seccion.etiqueta %></td>
    <td><%= horario.dia %></td>
    <td><%= horario.hora_inicio %></td>
    <td><%= horario.hora_fin %></td>
    <td><%= link_to 'Mostrar', horario %></td>
    <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
    <td><%= link_to 'Eliminar', horario, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Horario', new_horario_path %>
