<p id="notice"><%= notice %></p>

<p>
  <b>Seccion:</b>
  <%= @horario.seccion.etiqueta %>
</p>

<p>
  <b>Dia:</b>
  <%= @horario.dia %>
</p>

<p>
  <b>Hora inicio:</b>
  <%= @horario.hora_inicio %>
</p>

<p>
  <b>Hora fin:</b>
  <%= @horario.hora_fin %>
</p>


<%= link_to 'Editar', edit_horario_path(@horario) %> |
<%= link_to 'Regresar', horarios_path %>
