<%= form_for(@seccion) do |f| %>
  <% if @seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seccion.errors.count, "error") %> prohibited this seccion from being saved:</h2>

      <ul>
      <% @seccion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="seccion_materia_id">Materia</label><br />
    <%= f.select(:materia_id, Materium.all.collect{|t|["#{t.codigo} - #{t.nombre}",t.id]}) %>
  </div>
  <div class="field">
    <label for="seccion_etiqueta">Descripcion</label><br />
    <%= f.text_field :etiqueta %>
  </div>
  <div class="field">
    <%= f.label :profesor %><br />
    <%= f.text_field :profesor %>
  </div>
  <div class="field">
    <%= f.label :salon %><br />
    <%= f.text_field :salon %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar cambios'%>
  </div>
<% end %>
