<h1>Listado de secciones</h1>

<table width="80%">
  <tr style="font-weight:bold">
    <td>Materia</td>
    <td>Descripciòn</td>
    <td>Profesor</td>
    <td>Salon</td>
    <td width="60px"></td>
    <td width="60px"></td>
    <td width="60px"></td>
  </tr>

<% @seccions.each do |seccion| %>
  <tr>
  	<% if seccion.materium != nil then %>
    <td><%= seccion.materium.nombre %></td>
    <% else %>
    <td></td>
    <% end %>
    <td><%= seccion.etiqueta %></td>
    <td><%= seccion.profesor %></td>
    <td><%= seccion.salon %></td>
    <td><%= link_to 'Mostrar', seccion,:class => 'btn btn-info' %></td>
    <td><%= link_to 'Editar', edit_seccion_path(seccion),:class => 'btn btn-warning' %></td>
    <td><%= link_to 'Eliminar', seccion, method: :delete, data: { confirm: 'Esta seguro?' },:class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva seccion', new_seccion_path,:class => 'btn btn-primary' %>
