<p id="notice"><%= notice %></p>

<p>
  <b>Materia:</b>
  <%= @seccion.materium.nombre %>
</p>

<p>
  <b>Descripciòn:</b>
  <%= @seccion.etiqueta %>
</p>

<p>
  <b>Profesor:</b>
  <%= @seccion.profesor %>
</p>

<p>
  <b>Salon:</b>
  <%= @seccion.salon %>
</p>


<%= link_to 'Editar', edit_seccion_path(@seccion),:class => 'btn btn-primary' %> |
<%= link_to 'Regresar', seccions_path,:class => 'btn btn-primary' %>
