<%= form_for(@encuestum) do |f| %>
  <% if @encuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encuestum.errors.count, "error") %> prohibited this encuestum from being saved:</h2>

      <ul>
      <% @encuestum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :maestrium %><br />
    <%= f.text_field :maestrium %>
  </div>
  <div class="field">
    <%= f.label :habilitada %><br />
    <%= f.check_box :habilitada %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
