<%= form_for(@encuestum) do |f| %>
  <% if @encuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encuestum.errors.count, "error") %> impidió que los datos de la encuesta fueran almacenados:</h2>

      <ul>
      <% @encuestum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <label for="encuestum_maestrium_id">Maestr&iacute;a</label>
    <%= f.select(:maestrium_id, Maestrium.all.collect{|t|["#{t.codigo} - #{t.nombre}",t.id]}) %>
  </div>
  <div class="field">
    <%= f.label :habilitada %><br />
    <%= f.check_box :habilitada %>
  </div>
  
  
  
  <% if @encuestum.maestrium_id != nil then %>
  <div id="materiumZone" name="materiumZone" class="field">
    <span>Por favor, seleccione las materias que va a incluir en la encuesta</span>
    <ul>
    <%    	
        if (@encuestum.maestrium.pensums != nil) then
        	pensum = @encuestum.maestrium.pensums.last
    		if(pensum != nil) then
    			pensum.materia.each do |materium|
    %>
    <li>
					<%= check_box_tag 'materium_ids[]', materium.id -%>
					<%= h (materium.codigo + ' ' +materium.nombre) -%>
	</li>
    <% 			end
    		end
    	end
     %>
    </ul>
  </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
