<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @encuestum.nombre %>
</p>

<p>
  <b>Maestria:</b>
  <% if @encuestum.maestrium != nil then %>
  <%= @encuestum.maestrium.nombre %>
  <% end %>
</p>

<p>
  <b>Habilitada:</b>
  <%= @encuestum.habilitada %>
</p>


<%= link_to 'Edit', edit_encuestum_path(@encuestum) %> |
<%= link_to 'Back', encuesta_path %>
