<h1>Estudiantes</h1>

<table class="table table-bordered">
  <tr>
  	<th>Nombres</th>
    <th>Cuenta de usuario</th>
    <th>Direccion</th>
    <th>Tel&eacute;fono</th>
    <th>Tipo de estudiante</th>
    <th>Tipo documento</th>
    <th>Documento</th>    
    <th>Acciones</th>
  </tr>

<% @estudiantes.each do |estudiante| %>
  <tr>
  	<% if estudiante.user != nil then %>
  	<td><%= estudiante.user.name%></td>
    <td><%= estudiante.user.email %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
    <td><%= estudiante.direccion %></td>
    <td><%= estudiante.telefono %></td>
    <td><%= estudiante.tipo_estudiante %></td>
    <td><%= estudiante.tipo_documento %></td>
    <td><%= estudiante.documento %></td>
    <td><%= link_to 'Ver información', estudiante %></td>
   	<td> <%= link_to 'Editar', edit_estudiante_path(estudiante) %> </td>
   	<td> <%= link_to 'Eliminar', estudiante, method: :delete, data: { confirm: 'Esta seguro de realizar la eliminacion?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear estudiante', new_estudiante_path %>
