<div class="page-header">
	<h1> <%= @maestria.nombre%> </h1>
	<h1><small> Pensum <% @pensum.nombre%> </small></h1>
</div>

<div>
	<p>
		<strong> Codigo: </strong>
		<%= @maestria.codigo%>
	</p>

	<p>
		<strong> Estado: </strong>
		<% if @pensum.estado%>
		Finalizado
		<%else%>
		Pendiente
		<%end%>
	</p>
	<p>
		<strong> Fecha de Creacion: </strong>
		<%= @pensum.fechacreacion%>
	</p>
</div>

<div style="padding-top: 30px">
	<h3>Plan de Estudios</h3>

	<div class = "row-fluid">
		<div class = "span2">
			<table class = "table">
				<tr>
					<th>Lectura</th>
				</tr>
				<tr class="success">
					<td>Aprobada</td>
				</tr>
				<tr class="info">
					<td>Inscrita</td>
				</tr>
				<tr class="warning" style= "background-color: #FFFF99">
					<td>Planeada</td>
				</tr>
				<tr class="error">
					<td>Pendiente</td>
				</tr>
			</table>
		</div>
	</div>
	<div class = "row-fluid">
		<div class = "span2">
			<%= link_to 'Planeación', estudiante_planeacion_path(@estudiante), :class=>'btn btn-info' %>
		</div>
	</div>
	<div>
		<% @materias.each do |periodo, materias_periodos|%>
		<div class ="row-fluid">
			<h4> <%= periodo%> </h4>
			<% materias_periodos.each do |area_materias|%>
			<% mats= area_materias[1]%>
			<div class = "span2" style="width: 20%">
				<table class="table table-bordered">
					<tr>
						<th><%= area_materias[0]%></th>
					</tr>
					<%if not mats.empty?%>
					<%mats.each do |m|%>
					<% estado = @estudiante.estado_materia(m) %>
					<% if estado == "vista"%>
					<tr class="success">
						<td><%= m.nombre%></td>
					</tr>
					<%elsif estado== "planeada"%>
					<tr class="warning" style= "background-color: #FFFF99">
						<td><%= link_to m.nombre, estudiante_planeacion_path(@estudiante) %></td>
					</tr>
					<%elsif estado== "inscrita"%>
					<tr class="info">
						<td><%=m.nombre%></td>
					</tr>
					<%else%>
					<tr class="error">
						<td><%= link_to m.nombre, estudiante_planeacion_path(@estudiante) %></td>
					</tr>
					<%end%>

					<%end%>
					<%else%>
					<tr style= "background-color: #FFFFF0">
						<td style = "color: #FFFFF0">.</td>
					</tr>
					<%end%>

				</table>
			</div>
			<%end%>
		</div>
		<% end %>

	</div>
</div>
