<div class="page-header">
	<h1>Informacion <%= @maestria.nombre%> </h1>
	<h1><small> Pensum Vigente </small></h1>
</div>
<div>
	<p>
		<strong> Codigo: </strong>
		<%= @maestria.codigo%>
	</p>

	<p>
		<strong> Estado: </strong>
		<%= @pensum.estado%>
	</p>

	<p>
		<strong> Fecha de Creacion: </strong>
		<%= @pensum.fechacreacion%>
	</p>
</div>
<div style="padding-top: 30px">
	<h2>Materias <small> Plan de estudios sugerido </small></h2>

	<div>
		<h3> Primer Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_primero.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>

	<div>
		<h3> Segundo Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_segundo.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Tercer Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_tercero.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Cuarto Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_cuarto.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Quinto Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_quinto.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Sexto Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_sexto.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Septimo Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_septimo.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
	<div>
		<h3> Octavo Semestre </h3>
		<p>
			<table class="table table-striped">
				<tr>
					<th>Nombre</th>
					<th>Codigo</th>
					<th>Aprobado</th>
				</tr>

				<% @materias_octavo.each do |materia| %>
				<tr>
					<td><%= materia.nombre %></td>
					<td><%= materia.codigo %></td>
					<%if @estudiante.is_materia_aprobada?(materia)%>
					<td>Aprobado</td>
					<%else%>
					<td>Pendiente</td>
					<%end%>
				</tr>
				<% end %>
			</table>
		</p>
	</div>
</div>

