<p id="notice"><%= notice %></p>

<p>
	<b>Nombres</b>
	<%= @estudiante.user.name %>
</p>

<p>
  <b>Cuenta de usuario</b>
  <%= @estudiante.user.email %>
</p>

<p>
  <b>Foto:</b>
  <%if @estudiante.foto != nil && @estudiante.foto != '' then %>
  <img src="<%= @estudiante.foto %>"/>
  <%end%>
</p>

<p>
  <b>Direccion:</b>
  <%= @estudiante.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @estudiante.telefono %>
</p>

<p>
  <b>Tipo de estudiante:</b>
  <%= @estudiante.tipo_estudiante %>
</p>

<p>
  <b>Tipo documento:</b>
  <%= @estudiante.tipo_documento %>
</p>

<p>
  <b>Documento:</b>
  <%= @estudiante.documento %>
</p>



<%= link_to 'Editar', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Volver', estudiantes_path %>
