<h1>Materias</h1>

<table>
  <tr>
    <th>C&oacute;digo Materia</th>
    <th>Nombre Materia</th>
    <th>C&oacute;digo Maestria</th>
    <th>Nombre Maestria</th>
    <th>Acciones</th>
  </tr>

<% @materia.each do |materium| %>
  <tr>
    <td><%= materium.codigo %></td>
    <td><%= materium.nombre %></td>
    <% if materium.maestrium != nil then %>
    <td><%= materium.maestrium.codigo %></td>
    <td><%= materium.maestrium.nombre %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
    <td><%= link_to 'Ver información', materium %> | <%= link_to 'Editar', edit_materium_path(materium) %> | <%= link_to 'Eliminar', materium, method: :delete, data: { confirm: 'Está seguro de realizar la eliminacion?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva materia', new_materium_path %>
