<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @materium.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @materium.nombre %>
</p>

<p>
  <b>C&oacute;digo Maestria:</b>
  <% if @materium.maestrium != nil then %>
  <%= @materium.maestrium.codigo %>
  <% end %>
</p>

<p>
  <b>Nombre Maestria:</b>
  <% if @materium.maestrium != nil then %>
  <%= @materium.maestrium.nombre %>
  <% end %>
</p>

<%= link_to 'Editar', edit_materium_path(@materium),:class => 'btn btn-primary' %> |
<%= link_to 'Volver', materia_path,:class => 'btn btn-primary' %>
