<%= form_for(@tipo_pensum) do |f| %>
  <% if @tipo_pensum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_pensum.errors.count, "error") %> prohibited this tipo_pensum from being saved:</h2>

      <ul>
      <% @tipo_pensum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pensum %><br />
    <%= f.text_field :pensum %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br />
    <%= f.text_field :cantidad %>
  </div>
  <div class="actions">
    <%= f.submit,:class => 'btn btn-primary' %>
  </div>
<% end %>
