<h1>Pensums</h1>

<table class="table table-bordered">
  <tr>
    <th>Fechacreacion</th>
    <th>Nombre</th>
    <th>Estado</th>
    <th>Maestria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pensums.each do |pensum| %>
  <tr>
    <td><%= pensum.fechacreacion %></td>
    <td><%= pensum.nombre %></td>
    <td><%= pensum.estado %></td>
    <td><%= pensum.maestrium.nombre %></td>
    <td><%= link_to 'Ver', pensum,:class => 'btn btn-info' %></td>
    <td><%= link_to 'Editar', edit_pensum_path(pensum),:class => 'btn btn-warning' %></td>
    <td><%= link_to 'Eliminar', pensum, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Pensum', new_pensum_path,:class => 'btn btn-primary' %>
