<p id="notice"><%= notice %></p>

<p>
  <b>Fechacreacion:</b>
  <%= @pensum.fechacreacion %>
</p>

<p>
  <b>Nombre:</b>
  <%= @pensum.nombre %>
</p>

<p>
  <b>Estado:</b>
  <%= @pensum.estado %>
</p>

<p>
  <b>Maestria:</b>
  <%= @pensum.maestria %>
</p>


<%= link_to 'Edit', edit_pensum_path(@pensum),:class => 'btn btn-primary' %> |
<%= link_to 'Back', pensums_path,:class => 'btn btn-primary' %>
