<h1>Listing homologacions</h1>

<table>
  <tr>
    <th>Materiaorigen</th>
    <th>Materia</th>
    <th>Estado</th>
    <th>Estudiante</th>
    <th>Observaciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @homologacions.each do |homologacion| %>
  <tr>
    <td><%= homologacion.materiaorigen %></td>
    <td><%= homologacion.materia %></td>
    <td><%= homologacion.estado %></td>
    <td><%= homologacion.estudiante %></td>
    <td><%= homologacion.observaciones %></td>
    <td><%= link_to 'Show', homologacion %></td>
    <td><%= link_to 'Edit', edit_homologacion_path(homologacion) %></td>
    <td><%= link_to 'Destroy', homologacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Homologacion', new_homologacion_path %>
