<%= link_to "Coordinador", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Cerrar Sesión', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Iniciar Sesión', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Editar Cuenta', edit_user_registration_path %>
    </li>
    
    <% if current_user.has_role? :admin %>
      <li class="dropdown">  
	    <a href="#"  
	          class="dropdown-toggle"  
	          data-toggle="dropdown">  
	          Menú Coordinador 
	          <b class="caret"></b>  
	    </a>  
	    <ul class="dropdown-menu">  
	     	<li><%= link_to 'Administración de Estudiantes', estudiantes_path %></li>
	  		<li><%= link_to 'Administración de Maestría', maestria_path %></li>
	  		<li><%= link_to 'Administración de Materias', materia_path %></li>
	  		<li><%= link_to 'Administración de Secciones', seccions_path %></li>
	  		<li><%= link_to 'Administración de Horarios', horarios_path %></li> 
	    </ul>  
  	  </li> 
  	<% else %> 
  		<li class="dropdown">  
	    <a href="#"  
	          class="dropdown-toggle"  
	          data-toggle="dropdown">  
	          Menú Estudiante 
	          <b class="caret"></b>  
	    </a>  
	    <ul class="dropdown-menu"> 
	    	<li><%= link_to 'Planeación', estudiante_planeacion_path(current_user) %></li>
	  		<li><a href="#">Homologaciones y Transferencias</a></li>
	  		<li><%= link_to 'Mis Maestrias', estudiante_maestrias_path(current_user) %> </li> 
	    </ul>  
  	  </li> 
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Registro de Estudiante', new_user_registration_path %>
    </li>
  <% end %>
  
</form> 
</ul>